@import url('template.css');

h2 {
    font-size: 50px;
    border: 5px solid;
}

img {
    border: 5px solid rgb(59, 209, 151);
    width: 400px;
    padding: 7px;
}

ul {
    list-style-type: square;
}

a {
    font-size: 20px;
}